body {
    font-family: Arial, sans-serif;
    background-size: cover; 
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centers content vertically */
    margin: 0;
}

/* baltas konteineris */
.auth-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent */
    width: 300px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}
