body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 30px;
}

.form-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

input, button {
    display: block;
    width: 100%; 
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box; /* Includes padding and border in the width calculation */
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 10px;
    display: none;
    text-align: center;
}
